<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddComment</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who You Are ?">
        <textarea name="message" placeholder="Write Text Here"></textarea>
        <input type="text" name="to" placeholder="Who Is Receiver">
        <button>Submit</button>
    </form>
</body>
</html>